<mat-dialog-content class="container">
    <div class="icon">
        <button [routerLink]="['/editStudent',id]"><mat-icon style="cursor:pointer;" (click)="onEdit()">create</mat-icon></button>
        <button><mat-icon style="cursor:pointer;" (click)="onCopy()">content_copy</mat-icon></button>
        <button><mat-icon style="cursor:pointer;" (click)="onDelete()">delete</mat-icon></button>
    </div>

    <div class="content">
        <mat-list>
            <img matListAvatar [src]="imgUrl" alt="Image of {{name}}" id="profile">
            <mat-list-item>Name:{{name}}</mat-list-item>
            <mat-list-item>Year:{{year}}</mat-list-item>
            <mat-list-item>Stream:{{stream}}</mat-list-item>
            <mat-list-item>graduateYear:{{graduateYear}}</mat-list-item>
            <mat-list-item><mat-icon>email</mat-icon>{{email}}</mat-list-item>
            <mat-list-item><mat-icon>home</mat-icon>{{address}}</mat-list-item>
            <mat-list-item><mat-icon>phone</mat-icon>{{phone}}</mat-list-item>
        </mat-list>


    </div>
</mat-dialog-content>
<mat-dialog-actions align="center">
    <button mat-raised-button color="primary" (click)="onClose()" tabindex="1">Close</button>
</mat-dialog-actions>