<mat-dialog-content class="container">
    <div class="icon">
        <button [routerLink]="['/editStudent',id]">
            <mat-icon style="cursor:pointer;" (click)="onEdit()">create</mat-icon>
        </button>
        <button>
            <mat-icon style="cursor:pointer;" (click)="onCopy()">content_copy</mat-icon>
        </button>
        <button>
            <mat-icon style="cursor:pointer;" (click)="onDelete()">delete</mat-icon>
        </button>
    </div>

    <div class="content">
        <mat-list>
            <img matListAvatar [src]="data.image" alt="Image of {{data.name}}" id="profile">
            <mat-list-item>Name:{{data.name}}</mat-list-item>
            <mat-list-item>Year:{{data.year}}</mat-list-item>
            <mat-list-item>Department:{{data.department}}</mat-list-item>
            <mat-list-item>Expected Year Of Joining:{{data.joining_year}}</mat-list-item>
            <mat-list-item>Expected Year Of Passing:{{data.passing_year}}</mat-list-item>
            <mat-list-item>
                <mat-icon>email</mat-icon>{{data.email}}
            </mat-list-item>
            <mat-list-item>
                <mat-icon>home</mat-icon>{{data.address}}
            </mat-list-item>
            <mat-list-item>
                <mat-icon>phone</mat-icon>{{data.phone}}
            </mat-list-item>
        </mat-list>

    </div>
</mat-dialog-content>
<mat-dialog-actions align="center">
    <button mat-raised-button color="primary" (click)="onClose()" tabindex="1">Close</button>
</mat-dialog-actions>