<!--For list of students-->
<div class="container">
  <mat-card *ngFor="let student of students" class="detail" appMaterialElevation>
    <mat-card-content>
      <mat-list>
        <mat-list-item>
          <img matListAvatar src="https://wprdea.org/image/img_avatar.png" alt="img of {{student.name}}">
          <div mat-line><strong>{{student.name}}</strong></div>
          <div mat-line> {{student.department | uppercase}} </div>
          <div mat-line>{{student.year}}</div>
          <div mat-line> {{student.passing_year +" Batch" }}</div>
        </mat-list-item>
      </mat-list>
    </mat-card-content>
    <mat-card-actions>
      <button mat-button (click)="openDialog(student)">Details</button>
      <button mat-button>Edit</button>
    </mat-card-actions>
    <!-- <mat-card-actions align="end">
      <button mat-button color="primary" (click)="openDialog(student)">Details</button>
      <button mat-raised-button color="secondary">Edit</button>
    </mat-card-actions> -->
  </mat-card>
</div>