<!--For list of students-->
<div class="container">
  <mat-card *ngFor="let student of students" class="detail" style="display: flex;flex-direction: row;">
    <mat-card-content style="width: 100%;">
      <mat-list>
        <mat-list-item>
          <img matListAvatar src="https://wprdea.org/image/img_avatar.png" alt="img of {{student.name}}">
          <div mat-line>{{student.name}}</div>
          <div mat-line> {{student.department | uppercase}} </div>
          <div mat-line> {{student.passing_year +" Batch" }}</div>
        </mat-list-item>

      </mat-list>
    </mat-card-content>
    <mat-card-actions align="end">
      <button mat-button color="primary" (click)="openDialog(student)" style="position: absolute;bottom: 5px;">Details</button>
    </mat-card-actions>
  </mat-card>
</div>
