<mat-card class="mat-elevation-z8">
    <form #f="ngForm" name="form" (ngSubmit)="onSubmit(f)" *ngIf="f.form.valid">
        <mat-form-field >

            <input matInput placeholder="Name" type="text" ngModel name="name" required>

        </mat-form-field>
        <div style="margin: 1.5% 0;">
            <span>Year:</span>
            <mat-radio-group aria-label="Select an option" ngModel name="year">
                <mat-radio-button value="1" style="padding: 2%;">1</mat-radio-button>
                <mat-radio-button value="2" style="padding: 2%;">2</mat-radio-button>
                <mat-radio-button value="3" style="padding: 2%;">3</mat-radio-button>
                <mat-radio-button value="4" style="padding: 2%;">4</mat-radio-button>
            </mat-radio-group>
        </div>
        <br>

        <div style="margin: 1.5% 0;">
            <span>Stream:</span>
            <mat-radio-group aria-label="Select an option" ngModel required name="stream">
                <mat-radio-button value="1" style="padding: 2%;">IT</mat-radio-button>
                <mat-radio-button value="2" style="padding: 2%;">CSE</mat-radio-button>
                <mat-radio-button value="3" style="padding: 2%;">ME</mat-radio-button>
                <mat-radio-button value="4" style="padding: 2%;">ECE</mat-radio-button>
                <mat-radio-button value="5" style="padding: 2%;">EE</mat-radio-button>
            </mat-radio-group>
        </div>

        <mat-form-field>
            <textarea matInput placeholder="Address" type="text" rows="2" ngModel required name="address"></textarea>
        </mat-form-field>
        <mat-form-field>
            <input matInput placeholder="Contact No." type="number" ngModel name="contactNo" required>
        </mat-form-field>
        <mat-form-field>
            <input matInput placeholder="Email" type="email" name="email" ngModel required>
        </mat-form-field>

        <mat-form-field>
            <mat-label>Graduation Year</mat-label>
            <mat-select ngModel required name="passoutYear">
              <mat-option value="2020">2020</mat-option>
              <mat-option value="2021">2021</mat-option>
              <mat-option value="2022">2022</mat-option>
              <mat-option value="2023">2023</mat-option>
              <mat-option value="2024">2024</mat-option>
            </mat-select>
          </mat-form-field>
        <mat-card-actions  align="end">
            <button type="submit" mat-raised-button color="primary">Save</button>
            
        </mat-card-actions>
    </form>
</mat-card>