<div class="newForm">
    <mat-card class="mat-elevation-z8">
        <mat-card-subtitle>*All fields are required</mat-card-subtitle>
        <form #f="ngForm" name="form" (ngSubmit)="onSubmit(f)">
            <mat-form-field>

                <input matInput placeholder="Name" type="text" #name=ngModel ngModel name="name" required>

                <mat-error *ngIf="name.invalid && name.touched">This field is required!</mat-error>
            </mat-form-field>

            <div style="display: flex;">
            <mat-form-field style="margin-right:3%;width:20%">
                <mat-label>Year:</mat-label>
                <mat-select #year=ngModel ngModel name="year">
                    <mat-option value="1">1</mat-option>
                    <mat-option value="2">2</mat-option>
                    <mat-option value="3">3</mat-option>
                    <mat-option value="4">4</mat-option>
                </mat-select>
            </mat-form-field>

            <mat-form-field style="width: 20%;">
                <mat-label>Department:</mat-label>

                <mat-select #stream=ngModel ngModel required name="department">
                    <mat-option value="IT">IT</mat-option>
                    <mat-option value="CSE">CSE</mat-option>
                    <mat-option value="ECE">ECE</mat-option>
                    <mat-option value="EE">EE</mat-option>
                    <mat-option value="ME">ME</mat-option>
                </mat-select>
            </mat-form-field>
        </div>

        <div style="display:flex">
            <mat-form-field style="margin-right:3%;width:25%">
                <mat-label>Joining Year</mat-label>
                <mat-select #pass=ngModel ngModel required name="joining_year">
                    <mat-option value="2016">2016</mat-option>
                    <mat-option value="2017">2017</mat-option>
                    <mat-option value="2018">2018</mat-option>
                    <mat-option value="2019">2019</mat-option>
                    <mat-option value="2020">2020</mat-option>
                </mat-select>
                <mat-error *ngIf="pass.invalid && pass.touched">This field is required!</mat-error>
            </mat-form-field>


            <mat-form-field style="width: 25%;" >
                <mat-label>Graduation Year</mat-label>
                <mat-select #pass=ngModel ngModel required name="passing_year">
                    <mat-option value="2020">2020</mat-option>
                    <mat-option value="2021">2021</mat-option>
                    <mat-option value="2022">2022</mat-option>
                    <mat-option value="2023">2023</mat-option>
                    <mat-option value="2024">2024</mat-option>
                </mat-select>
                <mat-error *ngIf="pass.invalid && pass.touched">This field is required!</mat-error>
            </mat-form-field>
        </div>


            <mat-form-field>
                <textarea matInput placeholder="Address" type="text" rows="2" #add=ngModel ngModel required
                    name="address"></textarea>
                <mat-error *ngIf="add.invalid && add.touched">This field is required!</mat-error>
            </mat-form-field>

            <mat-form-field>
                <input matInput placeholder="Contact No." type="number" #phone=ngModel ngModel name="phone" required>
                <mat-error *ngIf="phone.invalid && phone.touched">This field is required!</mat-error>
            </mat-form-field>

            <mat-form-field>
                <input matInput placeholder="Email" type="email" name="email" #email=ngModel ngModel required>
                <mat-error *ngIf="email.invalid && email.touched">This field is required!</mat-error>
            </mat-form-field>


            

            <label>Upload your image:</label>
            <br>
            <div style="margin-top:2%;">
                <input #imageInput type="file" name="img" accept="image/*" onchange="func()"
                    (change)="processFile(imageInput)">
                <br>
                <div style="margin-top:2%;">
                    <img src="" height="200" alt="Image preview...">
                </div>

            </div>


            <mat-card-actions align="end">
                <button type="submit" [disabled]="!f.valid" mat-raised-button color="primary">Save</button>

            </mat-card-actions>
        </form>
    </mat-card>
</div>