mat-card{
    display:block;
    width:60%;
    margin:15px auto;
}

mat-form-field{
    width:100%;
}

.newForm{
    
    height:80%;
}
input[type="file"]{
    visibility: hidden;
}
.image-preview{
    height:5rem;
    margin:1rem 0;
}
.image-preview img{
    height:100%;
}