
mat-sidenav-container{
    height:100%;
  }
  mat-sidenav,mat-sidenav-content{
    padding:5px;
  }
  mat-sidenav{
    background-color: aqua;
    width:30%;
  }
  mat-form-field{
   display:block;
   margin:0 auto;
   width:20%;
   
  }
  ::-webkit-input-placeholder{
    font-size: 5px;
  }
  
  @media only screen and (max-width: 600px) {
    mat-sidenav{
        width:50%;
    }
  }