#chart{
display:block;
width:400px;
height:200px;
}


.student-card{
    width:30%;
    display:block;
    cursor: pointer;
    margin:2% auto;
}
.content{
    display:block;
    margin:5px auto;
}
.year{

    width:20%;
    display:inline-block;
    cursor: pointer;
    margin:1%;

}
.stream{
    width:23%;
    display:inline-block;
    cursor: pointer;
    margin:1.5% ;

}
/* mat-card{
    background-color: peachpuff;
} */

/* .student-card:hover{
    box-shadow: 0 0 15px rgba(33,33,33,.2); 
} */


.full-grid {
    margin-top:7px;
    display: grid;
    grid-template-columns: 50% 50%;
}

.quad-grid {
    display: grid;
    grid-template-columns: 50% 50%;
}

.big-card {
    height: 85%;
    margin: 20px;
    margin-left: 25px;
}

.big-card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.center-div {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.card {
    margin: 20px;
}

.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

@media screen and (max-width:1200px){
  
/*     
    .big-card {
        height: 60%;
        margin: 20px;
    } */

}
mat-display-4{
    margin: 0;
}