
  <mat-card class="student-card" appMaterialElevation>
    <mat-card-header>
      <mat-card-title>Total Students</mat-card-title>
      <!-- <mat-card-subtitle>Dog Breed</mat-card-subtitle> -->
    </mat-card-header>
    <img mat-card-image src="" alt="">
    <mat-card-content>
      <p>
        Total Students: {{len}}
      </p>
    </mat-card-content>
    <mat-card-actions align="end">
      <button mat-raised-button color="primary" [routerLink]="['/list']">View All</button>
    </mat-card-actions>
  </mat-card>
  