.findStudents{
    float:right;
}

.example-card{
    width:60%;
    margin: 20px;
}

mat-card{
    background-color: peachpuff;
}

.example-card:hover{
    box-shadow: 0 0 15px rgba(33,33,33,.2); 
}

.container {
    display: flex;
}